/* Loader */
.glob_loader {
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 9999;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.glob_loader i,
.glob_loader span {
    color: #fff;
    font-size: 1.5rem;
}

/* Toaster */
.toasts-top-right {
    top: 15px;
    right: 15px;
}
.toast-body {
    min-width: 300px;
}

.red {
    color: #dc3545 !important;
}
input[type="file"].form-control {
    font-size: 0.85rem;
}
.select2 span {
    font-size: 1rem !important;
}
.text-sm .select2-container--default .select2-selection--single,
select.form-control-sm
    ~ .select2-container--default
    .select2-selection--single {
    height: auto !important;
}
.text-sm
    .select2-container--default
    .select2-selection--single
    .select2-selection__rendered,
select.form-control-sm
    ~ .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    margin: -3px 0 !important;
}
.text-sm
    .select2-container--default
    .select2-selection--single
    .select2-selection__arrow,
select.form-control-sm
    ~ .select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 2px !important;
}

/* Datatable */
table.dataTable > tbody > tr.child ul.dtr-details {
    width: 100% !important;
}
table.dataTable > tbody > tr.child span.dtr-title {
    width: 30% !important;
}
table.dataTable > tbody > tr.child span.dtr-data {
    width: 70% !important;
    padding: 0 10px !important;
}
.card-info .page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.card-info .page-link {
    color: #17a2b8;
}

/* Editor */
.note-group-select-from-files {
    display: block !important;
}

.dbadge {
    font-size: 100% !important;
}

.box.box-success {
    border-top: 3px solid #4895ac;
}
.nav-tabs-custom > .nav-tabs > li > a {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}
.nav-tabs-custom > .nav-tabs > li > a.active {
    border-top: 3px solid #3c8dbc;
}
/* .nav-tabs-custom>.nav-tabs>li>a.active, .nav-tabs-custom>.nav-tabs>li:hover>a.active {
    background-color: #fff;
    color: #444;
    border-top: 3px solid #3c8dbc;
} */
.nav-tabs-custom > .nav-tabs > li > a.active:hover {
    border-top: 3px solid #3c8dbc;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs > li > a.active,
.nav-tabs > li > a.active:focus,
.nav-tabs > li > a.active:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 3px solid #3c8dbc;
    /* border-bottom-color: transparent; */
}


.main-div-class{
    width: 100%;
    display: flex;
}
.option-class{
    display:flex;
} 
.option-class .form-group{
    width: 100%;
} 
.option-class .remove-opts{
    padding: 0 0 0 12px;
    width: 100%;
} 
.remove-single-class{
    margin-left: 0px;
    width: 100%;
}